.ow-select {
  position: absolute;
  cursor: text;

  .ow-select-list {
    min-width: 160px;
    width: 400px;
    display: block;
    position: absolute;
    top: 100%;
    padding: 5px 0;
    margin: 0;
    left: 0;
    z-index: 1000;
    list-style: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow-y: scroll;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }

  &:not(.ow-select-open) .ow-select-list{
    max-height: 0;
    opacity: 0;
  }

  &.ow-select-open {
    .ow-select-body {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ow-select-list {
      max-height: 200px;
      opacity: 1;
    }
  }

  .ow-select-body {
    height: 33px;
    min-width: 400px;
    display: block;
    padding: 0;
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    white-space: normal;

    input {
      outline: 0;
      border: none;
    }

    .ow-svg-icon {
      position: absolute;
      bottom: 6px;
      right: 10px;

      &.ow-collapse-icon-opened {
        svg {
          transition: .3s;
          transform: rotate(90deg)
        }

        svg:hover {
          fill: #ccc;
        }
      }

      &:not(.ow-collapse-icon-opened) {
        svg {
          transition: .3s;
          transform: rotate(0deg)
        }

        svg:hover {
          fill: #ccc;
        }
      }
    }
  }
}