@import '../../../assets/theme/base.default.less';

.ow-select {
  position: absolute;
  cursor: text;

  .ow-select-list {
    min-width: 160px;
    width: 400px;
    display: block;
    position: absolute;
    top: 100%;
    padding: 5px 0 0 0;
    margin: 0;
    left: 0;
    z-index: 1000;
    list-style: none;
    border: 1px solid rgba(60,60,60,.26);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    overflow-y: auto;
    border-top: none;
    border-radius: 0 0 4px 4px;

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;

    p, h1, h2, h3, h4 {
      font-size: 14px;
      font-family: 'Roboto', serif;
      font-weight: 100;
    }
  }

  &:not(.ow-select-open) .ow-select-list{
    max-height: 0;
    opacity: 0;
  }

  &.ow-select-open {
    .ow-select-body {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ow-select-list {
      max-height: 200px;
      opacity: 1;
    }
  }

  .ow-select-body {
    width: 400px;
    display: block;
    padding: 0;
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    white-space: normal;

    .ow-collapse-icon {
      position: absolute;
      cursor: pointer;
      bottom: 10px;
      right: 10px;

      &.ow-collapse-icon-opened {
        svg {
          transition: .3s;
          transform: rotate(90deg)
        }

        svg:hover {
          fill: #4a4a4a;
        }
      }

      &:not(.ow-collapse-icon-opened) {
        svg {
          transition: .3s;
          transform: rotate(0deg)
        }

        svg:hover {
          fill: #4a4a4a;
        }
      }
    }
  }
}
//---- Ow select value styles
.ow-select-values {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
    display: table;
    content: " ";
  }

  //Selected values input area
  .ow-select-values-input {
    display: inline-block;
    border: none;
    outline: none;
    margin: 0;
    padding: 0 .5em;
    width: 10em;
    max-width: 100%;
    background: none;
    position: relative;
    box-shadow: none;
    float: left;
    height: 34px;
    clear: none;
    font-size: 13px;
  }

  //Selected items
  .ow-select-values-item {
    color: #333;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 26px;
    margin: 4px 1px 0 3px;
    padding: 0 .5em;
    float: left;
    line-height: 1.7em;

    svg:hover {
      fill: #4a4a4a;
      cursor: pointer;
    }

    svg {
      display: inline-block;
      margin-bottom: 2px;
    }
  }
}

//---- Ow select option styles
.ow-select-list {
  cursor: pointer;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-bottom-right-radius: 4px;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    border-radius: 6px;
    background: #c9c9c9;
  }

  .ow-select-option {
    opacity: 0.6;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;

    &.disabled {
      color: #9c9c9c;
      cursor: text;
    }

    &.active {
      //background-color: lighten(@color-green, 35%);
      background-color: lighten(#9c9c9c, 33%);

      .ow-svg-icon svg {
        fill: darken(@color-green, 20%);
      }
    }

    &:not(.disabled):hover {
      background-color: lighten(@color-green, 25%);
      cursor: pointer;
      //background-color: lighten(#9c9c9c, 25%);
    }

    .ow-svg-icon {
      float: right;
    }
  }
}